@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Mona Sans;
    src: url('/public/fonts/Mona-Sans-Regular.ttf');
}

/* *{ border: 1px solid red; } */

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5B78D6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Mona Sans;
    /* border: 1px solid blue; */

}

html,
body {
    height: 100%;
    width: 100%
}

header {
    width: 100%;
}

a {
    color: black;
}

li,
a {
    text-decoration: none;
}

a:hover {
    transition: all .2s ease-in-out;
    opacity: .7;
}

nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
}

.navbar-sticky {
    height: 80px;
    background-color: rgba(0, 0, 0, .8);
    transition: height .3s ease;
    z-index: 999;

}

.nav-list-phone {
    width: 100%;
    background-color: #640ED8;
    height: auto;
    position: fixed;
    top: 80px;
    z-index: 9999;
}

nav li,
a {
    color: white;

}

.hamburger-icon {
    display: none;
}


.navbar__list-item-container1-auth img,
.navbar__list-item-container1-guest img {
    margin-right: 40px;
}

.navbar__list-item-container1-auth ul,
.navbar__list-item-container1-guest ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__list-item-container1-auth li,
.navbar__list-item-container1-guest li {
    margin-right: 35px;

}

.navbar__list-item-container2-auth {
    width: 18%;
    position: relative;
}

.navbar__list-item-container1-guest {
    height: 100%;
}

.navbar__list-item-container2-guest li .btn-login {
    margin-right: 35px;
}

.navbar__list-item-container2-guest .btn-register {
    margin-right: 15px;
    border: .5px solid white;
    padding: 5px 5px;
}

.navbar__nav-items-auth a {
    color: #150F3B;
}

.navbar__nav-items-guest a {
    color: #fff;
}

.navbar__list-item-container2 li {
    cursor: pointer;
}

.navbar__list-item-container2 li>i {
    color: #150F3B;
}

.navbar__profile-contents-auth {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 110px;
    display: none;
    border-radius: 10px;
}

/*
Welcome.blade.php
*/
.start-up-container {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)),
        url('/public/pictures/startup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 10%;
}



.start-up-container input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    width: 70%;
    border-radius: 10px 0 0 10px;
}

.start-up-container input[type="text"]:focus {
    border-color: #5B78D6;
    border: .5px solid #5B78D6;
    outline: none;
}

.start-up-container__input-container {
    width: 50%;
}

.start-up-container__input-container input[type="submit"] {
    margin-left: -5px;
    width: 20%;
    background-color: #5B78D6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-weight: 600;
}

.start-up-container__input-container input[type="submit"]:hover {
    box-shadow: 1px 1px #5B78D6;
}


.login-container {
    background-image: url('/public/pictures/wave.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.register-container {
    background-image: url('/public/pictures/wave.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* start guest browse books */

.guest-browse-container {
    background-image: url('/public/pictures/wave.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.guest-browse-container__guest-browse-books {
    width: 100%;
    height: 100vh;
}

.guest-browse-container__guest-book-view {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.browse-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: -100px;
}

.browse-books {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 100vh;
}


.guest-browse-books__filter-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
}

.guest-browse-books__filter-base-container {
    cursor: pointer;
}

.guest-browse-books__filter-base-phone-container {
    cursor: pointer;
}


.guest-browse-books__filter-icon-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #640ED8;
    border-radius: 40px;
    z-index: 9999;
}

.guest-browse-books__filter-phone-container {
    width: 100%;
    height: 100%;
    background-color: #6F6EE3;
    position: fixed;
    overflow-y: hidden;
    z-index: 9999;
    color: white;
}

.guest-browse-books__category-list li {
    padding: .5rem 0;
}

.guest-browse-books__category-list-phone li {
    padding: .2rem 0;
}



#reserveBook {
    margin: 0 auto;
}

/* end guest browse books */

.home-icon {
    color: white;
    cursor: pointer;
}

.register-container__register-item-container {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
}

.register-container__register-input-container {
    width: 70%;
    height: 70vh;
    border-radius: 10px;
    background: white;
    box-shadow: .2px .5px #5B78D6;
}

.register-container__register-breadcrumb-container {
    margin-bottom: 20px;
}

.register-container__register-breadcrumb-item li {
    padding: 15px;
    width: 100%;
    background: #ECF1FE;
    color: #BEC8E9;
}

.register-container__register-breadcrumb-item li div {
    border-radius: 50%;
    background-color: #C1CBEA;
    color: #D9F0FE;
    height: 20px;
    width: 20px;
    font-size: 15px;
}


.register-container__register-breadcrumb-item li.active {
    padding: 15px;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(90deg, rgba(162, 223, 254, 1) 0%, rgba(127, 203, 252, 1) 49%, rgba(107, 153, 251, 1) 82%);
    width: 100%;
    color: white;
}

.register-container__register-breadcrumb-item li.active div {
    border-radius: 50%;
    background-color: white;
    color: #BCD0F9;
    height: 20px;
    width: 20px;
    font-size: 15px;

}


.register-container__register-input-container select,
.register-container__register-input-container input:not(input[type=radio]) {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px;
    border-radius: 5px;
    width: 90%;
    border: 1px solid #6BACFB;
}


.register-container__register-input-container select:focus,
.register-container__register-input-container input:focus {
    border: 2px solid #5B78D6;
    outline: none;
}

.register-container__register-input-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.register-container__register-input-container .user-registration {
    padding: 10px;
}

.register-container__register-button-group a {
    color: #5B78D6;
}

.login-container__login-container {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
}

.tab {
    display: none;
}

.login-container__login-input-container {
    background: white;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: .2px .5px #5B78D6;

}

.login-container__login-input-container input[type="submit"],
.login-container__login-input-container button,
.register-container__register-input-container button {
    background-color: #5B78D6;
    color: white;
    padding: 5px;
    width: 6vw;
    cursor: pointer;
}

.login-container__login-input-container input[type="submit"]:hover {
    box-shadow: 1px 1px #5B78D6;
}

.login-container__login-input-container label,
.login-container__login-input-container p {
    color: black;
}

.login-container__login-input-container a {
    color: #5B78D6;
}

.login-container__login-input-container input[type="email"],
.login-container__login-input-container input[type="password"],
.login-container__login-input-container input[type="text"] {
    padding: 5px;
    border-radius: 10px;
    width: 40vw;
    border: 1px solid #5B78D6;
    outline: none;

}

.login-container__login-input-container input[type="email"]:focus,
.login-container__login-input-container input[type="password"]:focus .login-container__login-input-container input[type="text"]:focus {
    border: 2px solid #6BACFB;

}

.login-container__login-input-container .login-container__login-input-group i {
    margin-left: -30px;
    cursor: pointer;
}

.register-container__register-input-container input[type="radio"] {
    display: none;
}

.register-container__register-input-container .radio-btn-grp img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.register-container__register-input-container .radio-btn-grp img:hover {
    cursor: pointer;
}

.register-container__register-input-container .radio-btn-grp input[type="radio"]:checked+.radio-label {
    border: 1px solid #5B78D6;
    background-color: #D9F0FE;
}


.home-container {
    padding: 0 5vw;
    background-color: #FBECE1;
}

.home-container .introductory-note {
    padding: 15px;
    width: 100%;
    background-color: #150F3B;
    box-shadow: 5px 5px #6BACFB;
}

.home-container .book-view {
    padding: 15px;
    height: 100%;
    width: 100%;
    /* background-color: #fff;
    box-shadow: 5px 5px #6BACFB; */
}

.card {
    width: 90%;
    height: 400px;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    position: relative;
    border: 1px solid #4976E7;
}

.card:hover {
    box-shadow: -6px 6px #150F3B;
    transform: translate(10px, -10px);
}

.card i:hover {
    cursor: pointer;
}

.card-header {
    height: 40%;
    width: 100%;
    box-shadow: 0 1px rgba(0, 0, 0, .2);
}

.card-header img {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;

}

.card-footer {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.card-footer button {
    background-color: #4976E7;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    color: #fff;

}

.add-favorite {
    width: 30px;
    height: 30px;
    background-color: #F73157;
    border-radius: 40px;
}

.add-favorite i {
    color: #fff;
}

.feedback {
    width: 30px;
    height: 30px;
    background-color: #2FAA8C;
    border-radius: 40px;
}

.feedback i {
    color: #fff;
}

.admin-container {
    height: 100%;
    background-color: #FBECE1;
}

.admin-content-container {
    height: 100%;
    width: 100%;
}

.admin-sidebar {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.admin-sidebar-items {
    list-style: none;
    padding: 20px;
}

.admin-sidebar-items li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.admin-sidebar-items li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.admin-sidebar-items li i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
    color: #000;
}

.admin-sidebar-items li button i {
    color: #fff;
}

.admin-container .stat-container {
    padding-top: 50px;
    width: 100%;
}

.admin-container .chart {
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.dashboard-card-container {
    width: 100%;
}

.admin-container .dashboard-card {
    height: 150px;
    width: 220px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: #ECF1FE 5px 5px;
}

.dashboard-card-container:nth-of-type(1) .dashboard-card:nth-of-type(1) {
    background-color: #4976E7;
}

.dashboard-card-container:nth-of-type(1) .dashboard-card:nth-of-type(2) {
    background-color: red;
}

.dashboard-card-container:nth-of-type(2) .dashboard-card:nth-of-type(1) {
    background-color: orange;
}

.dashboard-card-container:nth-of-type(2) .dashboard-card:nth-of-type(2) {
    background-color: purple;
}

.table-container {
    background-color: white;
    width: 95%;
    height: 95%;
    padding: 30px;
    margin: -5rem auto;
    border-radius: 10px;
    box-shadow: 1px 1px lightgray;

}

table {
    height: 70%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

table td,
th {
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table .action-btn i {
    cursor: pointer;
}

table .action-btn i:nth-of-type(1) {
    color: blue;
}

table .action-btn i:nth-of-type(2) {
    color: yellow;
}

table .action-btn i:nth-of-type(3) {
    color: red;
}








@media only screen and (max-width: 600px) {
    .navbar ul {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    .hamburger-icon {
        display: inline;
        margin-right: 10px;
    }


    .navbar__list-item-container1-guest {
        width: 100%;
    }

    .navbar__list-item-container1-guest img {
        margin-right: 0;
    }

    .start-up-container {
        padding-top: 50%;
    }


    .start-up-container__input-container {
        width: 100%;

    }

    .start-up-container input[type="text"] {
        width: 65%;
    }

    .start-up-container__input-container input[type="submit"] {
        width: 40%
    }

    .guest-browse-books__filter-container {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
    }

    .login-container__login-input-container {
        width: 90%;
    }

    .login-container__login-input-container input[type="email"],
    .login-container__login-input-container input[type="password"],
    .login-container__login-input-container input[type="text"] {
        width: 100%;

    }


    .login-container__login-input-container input[type="submit"],
    .login-container__login-input-container button,
    .register-container__register-input-container button {
        width: 20%;
    }


    .card {
        width: 100%;
    }

    .register-container__register-input-container {
        width: 90%;
    }




}